{# Load the tag library #}
{% load bootstrap3 %}

<script type="text/javascript" src="{{ STATIC_URL }}/static/js/jquery-3.1.1.js"></script>
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}/static/css/font-awesome.css' />
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}/static/css/homepage.css' />

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load gravatar %}

<head>
<title>&#8826;&#8725;&#8827; Markup-Easy </title>
</head>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/"><i class="fa fa-code fa-lg" aria-hidden="true"></i> Markup-Easy</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                {% if not request.user.is_authenticated %}

                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#features">Features</a>
                    </li>

                    {% if sign_in is None %}
                        <li><a href="/sign_in">Sign in</a></li>
                    {% else %}
                        <li><a href="/">Sign up</a></li>
                    {% endif %}

                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <img alt="" class="rounded-2" height="20" size="20" src="{% gravatar_url user.email 20 %}" width="20"> {{ request.user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Your profile</a></li>
                            <li><a href="#">Your projects</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/sign_out">Sign out</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#about"> </a>
                    </li>

                {% endif %}

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

{% block content %}
{% endblock %}

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#features">Features</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Eric Pinet 2016. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>