{# Load the tag library #}
{% load bootstrap3 %}

<script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-3.1.1.js">
</script>

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <a class="navbar-brand" href="#">{{ title }}</a>
      </a>
    </div>
  </div>
</nav>