#project-widget {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    width: 300px;
    margin: 20px;
}
#project-widget .list-group-item {
    border:0;
    color: #AAAAAA;
    padding: 15px;
    border-left: 3px solid #fff;
}
#project-widget a.list-group-item:hover {
    background-color: #EEEEEE;
    color: #888888;
    border-left: 3px solid #888888;
}
#project-widget a.list-group-item:hover i.fa {
    color: #888888;
}
#project-widget .heading {
    color: #AAAAAA;
    background-color: #EFEFEF;
    border-left: 3px solid #888888;
}
#project-widget .heading .text-wrap {
    padding: 20px 0;
}
#project-widget .img-circle {
    height: 90px;
    width: 90px;
    padding: 8px;
    border: 1px solid #AAAAAA;
    margin-right: 10px;
    float:left;
}
#project-widget .heading .list-group-item-heading {
    font-weight: 600;
    color: #888;
}