{# Load the tag library #}
{% load bootstrap3 %}

<script type="text/javascript" src="{{ STATIC_URL }}/static/jquery-3.1.1.js">
</script>

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <a class="navbar-brand" href="#">{{ title }}</a>
      </a>
    </div>
  </div>
</nav>

<div id="user-widget" class="list-group">
  <div class="list-group-item heading">
     <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/ademilter/128.jpg">
     <div class="text-wrap">
        <h4 class="list-group-item-heading">Richard Willams</h4>
        <p class="list-group-item-text">15,421 followers</p>
     </div>
     <div class="clearfix"></div>
  </div>
  <a href="#" class="list-group-item">
     <i class="fa fa-user fa-lg pull-right"></i>
     <p class="list-group-item-text">Edit user</p>
  </a>
  <a href="#" class="list-group-item">
     <i class="fa fa-bar-chart-o fa-lg pull-right"></i>
     <p class="list-group-item-text">Web statistics</p>
  </a>
  <a href="#" class="list-group-item">
     <i class="fa fa-wrench fa-lg pull-right"></i>
     <p class="list-group-item-text">Upload settings</p>
  </a>
  <a href="#" class="list-group-item">
     <i class="fa fa-calendar fa-lg pull-right"></i>
     <p class="list-group-item-text">Events</p>
  </a>
</div>