
<div class="panel panel-default">

    <div class="panel-heading">
        Projects
        <button id="btn-add" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Add"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>

    <div class="panel-body">

        <table id="project-table" class="table">
        {% for project in projects %}
            <tr id="{{ project.id }}">
                <td>
                    <a href="#" id="btn-open-{{ project.id }}" class="lead" data-toggle="tooltip" data-placement="right" title="Open project"><i class="fa fa-book" aria-hidden="true"></i> {{ project.name }}</a>

                    <div class="lead-small">Created: {{ project.creation_date }}</div>
                    <div class="lead-small">File quantity: 20</div>
                    <div class="lead-small">Type: GitHub wiki</div>

                </td>

                <td class="btn-delete">
                    <div align="right">
                        <br>
                        <button class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="Delete"><i class="fa fa-trash fa-lg" aria-hidden="true" ></i></button>
                    </div>
                </td>

            </tr>
        {% endfor %}
        </table>

    </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-danger">
                Delete
            </div>
            <div class="modal-body">
                Are you sure you want to delete this project?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok" data-dismiss="modal" id="btn-confirm-delete">Delete</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}/static/dashboard/js/projects.js"></script>