
{% load filters %}

<div class="panel panel-default">

    <div class="panel-heading">
        <div class="btn-group pull-right">
            <button id="btn-close" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="right" title="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
        </div>
        {{ project.name }}
    </div>

    <div class="panel-body">

        <table class="table table-hover table-condensed lead-small">
            <tr>
                <th style="width: 65%">
                    File
                </th>
                <th>
                    Size
                </th>
                <th>
                    Modified
                </th>
                <th>
                    Actions
                </th>
            </tr>

            {% for file in files %}
            <tr>
                <td>
                    <a href="/editor/{{ project.id }}/{{ file.id }}" target="_blank">{{ file.name }}</a>
                </td>
                <td>
                    {{ file.file.size | human_readable_size }}
                </td>
                <td>
                    N/A
                </td>
                <td>
                    <a href=""><i class="fa fa-folder-open-o" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
            </tr>
            {% endfor %}

        </table>

    </div>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}/static/dashboard/js/projects.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/static/dashboard/js/projects-details.js"></script>