
<br><br>
<center>
    <p class="lead">
        You don't have any projects yet
    </p>
</center>

<center>
    <button id="btn-create-project" type="" class="btn btn-default btn-lg" id="btn-signup">
        <i class="fa fa-book" aria-hidden="true"></i>
        Create new
    </button>
</center>

<br><br>

<hr>

<center>
    <p class="lead-medium">
        Create a new project from your <i class="fa fa-github" aria-hidden="true"></i> <a target="_blank" href="https://www.github.com">GitHub</a> wiki project or create <br>a new project from scrach.
    </p>
</center>

<script type="text/javascript" src="{{ STATIC_URL }}/static/dashboard/js/projects.js"></script>